# Ignore common OS cruft
.DS_Store
Thumbs.db

# Ignore Obsidian cache
.obsidian/cache
.obsidian/workspace

# Ignore Jekyll output
_site/
.jekyll-cache/
.sass-cache/

# Editor temp files
*.swp
*.swo

# ignore Drafts & notes, version 1
drafts/
*.notes
_posts/v1/
